<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | <%= name %></title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Rajdhani:wght@500&family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
    

        <link rel="shortcut icon" href="img/logo-ifspace.png" type="image/x-icon">
        <link rel="stylesheet" href="/styles/style.base.css">
        <link rel="stylesheet" href="/styles/style.home.css">
    </head>

    <body>

        <header class="profile" id="topo">
            <img class="pfp" src="/img/logo-ifspace.png" alt="Foto de Perfil">
            <p class="user-name"><%= name %></p>
        </header>

        <div class="layout">
            <nav class="nav">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#topo">Voltar ao topo</a></li>
                    <li class="nav-item"><a href="/home/profile">Perfil</a></li>
                    <li class="nav-item"><a href="/home">Página Inicial</a></li>
                    <li class="nav-item"><a href="/post">Fazer uma postagem</a></li>
                    <li class="nav-item"><a href="/">LogOut</a></li>
                </ul>
            </nav>        

            <main class="posts">
                <article class="post">
                    <header class="title">
                        <h1>postzin</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>
                <article class="post">
                    <header class="title">
                        <h1>postinho</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>
                <article class="post">
                    <header class="title">
                        <h1>poustageim</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>
                <article class="post">
                    <header class="title">
                        <h1>postzin</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>
                <article class="post">
                    <header class="title">
                        <h1>postinho</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>
                <article class="post">
                    <header class="title">
                        <h1>poustageim</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>
            </main>
            <aside class="friends">
                <li>
                    <div class="friend">
                        <img src="/img/logo-ifspace.png" alt="">
                        <p>Fulano</p>
                    </div>
                </li>
                <li>
                    <div class="friend">
                        <img src="/img/logo-ifspace.png" alt="">
                        <p>Ciclano</p>
                    </div>
                </li>
                <li>
                    <div class="friend">
                        <img src="/img/logo-ifspace.png" alt="">
                        <p>Beltrano</p>
                    </div>
                </li>
            </aside>

        </div>        
    </body>
</html>