<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | <%= name %></title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Rajdhani:wght@500&family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="img/logo-ifspace.png" type="image/x-icon">
        <link rel="stylesheet" href="/styles/style.base.css">
        <link rel="stylesheet" href="/styles/style.home.css">
    </head>

    <body>

        <header class="profile" id="topo">
            <img class="pfp" src="/img/logo-ifspace.png" alt="Foto de Perfil">
            <p class="user-name"><%= name %></p>
        </header>

        <div class="layout">
            <nav class="nav">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#topo" class="btn"><i class="fa-regular fa-circle-up fa-lg"></i> Voltar ao topo</a></li>
                    <li class="nav-item"><a href="/home/profile" class="btn"><i class="fa-regular fa-address-card fa-lg"></i> Perfil</a></li>
                    <li class="nav-item"><a href="/home" class="btn"><i class="fa-solid fa-house-user fa-lg"></i> Página Inicial</a></li>
                    <li class="nav-item"><a href="/post" class="btn"><i class="fa-regular fa-paper-plane fa-lg"></i> Postar</a></li>
                    <li class="nav-item"><a href="/" class="btn"><i class="fa-solid fa-rocket fa-lg"></i> LogOut</a></li>
                </ul>
            </nav>        

            <main class="posts">

                <article class="post">
                    <div class="postProfile">
                        <img src="/img/logo-ifspace.png">
                        <p>Fulano</p>
                    </div>
                    <header class="title">
                        <h1>postzin</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>

                <article class="post">
                    <div class="postProfile">
                        <img src="/img/logo-ifspace.png">
                        <p>Fulano</p>
                    </div>
                    <header class="title">
                        <h1>postinho</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>

                <article class="post">
                    <div class="postProfile">
                        <img src="/img/logo-ifspace.png">
                        <p>Fulano</p>
                    </div>
                    <header class="title">
                        <h1>poustageim</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>

                <article class="post">
                    <div class="postProfile">
                        <img src="/img/logo-ifspace.png">
                        <p>Fulano</p>
                    </div>
                    <header class="title">
                        <h1>postzin</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>

                <article class="post">
                    <div class="postProfile">
                        <img src="/img/logo-ifspace.png">
                        <p>Fulano</p>
                    </div>
                    <header class="title">
                        <h1>postinho</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>

                <article class="post">
                    <div class="postProfile">
                        <img src="/img/logo-ifspace.png">
                        <p>Fulano</p>
                    </div>
                    <header class="title">
                        <h1>poustageim</h1>
                    </header>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Molestias, nostrum debitis quidem doloremque quae culpa blanditiis
                        repudiandae, ut, odit tenetur excepturi minus nam consequuntur modi libero vitae laudantium sunt iure!</p>
                </article>

            </main>
            <aside class="aside">
                <ul class="friends">
                    <li>
                        <div class="friend">
                            <img src="/img/logo-ifspace.png">
                            <p>Fulano</p>
                        </div>
                    </li>
                    <li>
                        <div class="friend">
                            <img src="/img/logo-ifspace.png"> 
                            <p>Ciclano</p>
                        </div>
                    </li>
                    <li>
                        <div class="friend">
                            <img src="/img/logo-ifspace.png"> 
                            <p>Beltrano</p>
                        </div>
                    </li>
                </ul>
            </aside>

        </div>        
    </body>
</html>