<main class="profile-editor">
    <header class="editor-header">
      <h1>Editar perfil</h1>
    </header>
  
    <% if (info) { %>
      <p class="info">
        <%= info %>
      </p>
    <% } %>

    <!-- Aqui é para por os dados para visualizar. Mudando de um formulário para seções que vão ser preenchidas pelo backend
        ex.
    <section>
        <h2>Nome</h2>
        <p>Fulano</p>
    </section>  -->
  
    <form method="post" action="/perfil/atualizar" class="profile-form">
  
        <fieldset class="fields">
          <legend>Minhas informações</legend>
  
          <div class="field">
            <label for="pNome">Nome</label>
            <input type="text" id="pNome" name="pNome">
          </div>
  
          <div class="field">
            <label for="sNome">Sobrenome</label>
            <input type="text" id="sNome" name=sNome">
          </div>
  
          <div class="field">
            <label for="apelido">Apelido</label>
            <input type="text" id="apelido" name="nick">
          </div>
  
          <div class="field">
            <label for="data_nascimento">Data Nascimento</label>
            <input type="date" id="data_nascimento" name="data_nascimento">
          </div>
  
          <div class="field">
            <label for="cursando">Cursando</label>
            <input type="text" id="cursando" name="cursando">
          </div>
  
          <div class="field">
            <label for="hobbies">Seus Hobbies</label>
            <input type="text" id="hobbies" name="hobbies">
          </div>
          <div class="field">
            <label for="bio">Sua Bio/Descrição</label>
            <textarea id="bio" name="bio" cols="30" rows="5"></textarea>
          </div>
  
        </fieldset>
  
        <fieldset class="fields">
  
          <legend>Minhas formas de contato</legend>
  
          <div class="field">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email">
          </div>
  
          <div class="field">
            <label for="telefone">Telefone/WhatsApp</label>
            <input type="tel" id="telefone" name="telefone" maxlength="11" pattern="[0-9]+">
          </div>
  
        </fieldset>
  
        <fieldset class="fields">
          <legend>Segurança</legend>
          <p>Digite sua senha para confirmar o envio dos dados</p>
          <div class="field">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" minlength="8" required>
          </div>
        </fieldset>
  
        <input type="submit" class="btn" value="Salvar Alterações">
    </form>
  
  </main>