<form action="/post" method="post" class="post-form">
    <% if (info) { %>
        <p class="info">
            <%= info %>
        </p>
    <% } %>

    <fieldset class='fields'>
        <legend>Edite sua postagem</legend>

        <div class="field">
            <label for="title">Título da postagem</label>
            <input type="text" class="field" name="titulo" id="title" size="30">
        </div>

        <div class="field">
            <label for="text">Descrição/Texto</label>
            <textarea type="text" name="texto" id="text" cols="30" rows="10"
                placeholder="Minha postagem muito legal"></textarea>
        </div>

        <div class="field">
            <label for="file">Anexe uma imagem ou arquivo!</label>
            <input type='file' name="anexo" id="file">

        </div>
        <input class="btn" type="submit" value="Postar!">
    </fieldset>

</form>