<style>
  .nav-items .nav-item:nth-child(2) {
    display: none;
  }
</style>

<main class="profile-editor">
  <header class="editor-header">
    <h1>Editar perfil</h1>
  </header>

  <form method="POST" action="" class="profile-form">

    <fieldset class="fields">
      <legend>Minhas informações</legend>

      <div class="field">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
      </div>

      <div class="field">
        <label for="apelido">Apelido</label>
        <input type="text" id="apelido" name="apelido">
      </div>

      <div class="field">
        <label for="data_nascimento">Data Nascimento</label>
        <input type="date" id="data_nascimento" name="data_nascimento">
      </div>

      <div class="field">
        <label for="cursando">Cursando</label>
        <input type="text" id="cursando" name="cursando">
      </div>

      <div class="field">
        <label for="hobbies">Seus Hobbies</label>
        <input type="text" id="hobbies" name="hobbies">
      </div>
      <div class="field">
        <label for="bio">Sua Bio/Descrição</label>
        <textarea id="bio" name="bio" cols="30" rows="5"></textarea>
      </div>
    </fieldset>

    <fieldset class="fields">

      <legend>Minhas formas de contato</legend>

      <div class="field">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email">
      </div>

      <div class="field">
        <label for="telefone">Telefone/WhatsApp</label>
        <input type="tel" id="telefone" name="telefone">
      </div>

    </fieldset>
    <input type="submit" class="btn" value="Salvar Alterações">
  </form>

</main>