<div class="container">

    <main class="post-container">
        <header class="post-header">
            <h1 class="title">
                <%= posts.titulo %>
            </h1>
        </header>
        <section class="post-section">
            <p>
                <%= posts.texto %>
            </p>
        </section>
        <div class="reactions">
            <button class="btn">
                <%= posts.likes %>
            </button>
            <form action="/perfil/seguir/<%= posts.usuariosId %>" method="post">
                <button type="submit" class="btn">Seguir</button>
            </form>
        </div>
    </main>

    <aside>
        <header>
            <h2 class="title">Comentários</h2>
        </header>
        <article class="comment">
            <div class="post-profile">
                <img src="/img/logo-ifspace.png" alt="logo">
                <p>Fulaninho</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                illum? Animi illo nobis est iusto mollitia,
                consequuntur eius, quas, unde quisquam expedita sapiente dignissimos architecto.
                Lorem ipsum, dolor sit.</p>
        </article>

        <article class="comment">
            <div class="post-profile">
                <img src="/img/logo-ifspace.png" alt="logo">
                <p>Ciclaninho</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                consequuntur eius, quas, unde quisquam expedita sapiente dignissimos architecto.</p>
        </article>

        <article class="comment">
            <div class="post-profile">
                <img src="/img/logo-ifspace.png" alt="logo">
                <p>Juninho</p>
            </div>
            <p>Lorem ipsum consequuntur eius, quas, unde quisquam expedita sapiente dignissimos architecto.</p>
        </article>
    </aside>

</div>