<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post | <%= id %></title>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Rajdhani:wght@500&family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
    
        <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/styles/style.base.css">
        <link rel="stylesheet" href="/styles/style.home.css">
    </head>

    <body>

        <header class="profile" id="topo">
            <img class="pfp" src="/img/logo-ifspace.png" alt="Foto de Perfil">
            <p class="user-name">Fulano</p>
        </header>

        <div class="layout">
            <nav class="nav">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#topo" class="btn"><i class="fa-regular fa-circle-up fa-lg"></i> Voltar ao topo</a></li>
                    <li class="nav-item"><a href="/home/profile" class="btn"><i class="fa-regular fa-address-card fa-lg"></i> Perfil</a></li>
                    <li class="nav-item"><a href="/home" class="btn"><i class="fa-solid fa-house-user fa-lg"></i> Página Inicial</a></li>
                    <li class="nav-item"><a href="/post" class="btn"><i class="fa-regular fa-paper-plane fa-lg"></i> Postar</a></li>
                    <li class="nav-item"><a href="/" class="btn"><i class="fa-solid fa-rocket fa-lg"></i> LogOut</a></li>
                </ul>
            </nav> 

            <div class="container">

                <main class="post-container">
                    <header class="post-header">
                        <h1 class="title">Revolução industrial</h1>
                    </header>
                    <section class="post-section">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sunt deserunt cum quasi 
                            ex illum repellat quos maxime sequi dicta eveniet recusandae, maiores ipsa. Quia expedita eligendi
                             nam nemo incidunt nulla temporibus veniam hic ipsa, rem quidem mollitia laborum nobis quam veritatis
                              exercitationem rerum saepe aperiam sequi consectetur illum ad dolor excepturi magni? Ex blanditiis quam 
                              modi, suscipit tempore molestiae minus! Pariatur, ea! Fugiat omnis est corrupti eum! Quo vero necessitatibus sap
                              iente iure voluptatum, atque doloremque dolorum a, esse labore earum dignissimos distinctio ratione ab ut delectus, quod
                               harum repellat possimus numquam quos! Quaerat dolores a qui expedita dicta, veritatis suscipit ullam magnam eius vel totam
                                aspernatur, nostrum omnis tempore harum consequatur explicabo ducimus unde dolorum delectus reprehenderit laudantium! Cum ipsa 
                                velit consequuntur beatae illo ab doloribus error atque adipisci nemo. Provident saepe dolores, molestiae ullam laboriosam hic ne
                                sciunt? Voluptatibus autem unde debitis labore, magni neque, at dignissimos asperiores nam et eaque vero! Ut, natus distinctio. Quas nam, eligendi consectetur commodi, totam laborum, molestiae eum sit dolores ipsam perspiciatis nulla. Placeat porro sapiente totam voluptatum facere quibusdam non eligendi
                             doloremque unde, voluptatibus, consectetur dignissimos vel in voluptatem autem hic voluptate
                             s corrupti fugiat, eius quaerat magni quia officiis. Non, voluptatum ut.</p>
                    </section>
                    <div class="reactions">
                        <button class="btn">Gostei - [10]</button>

                        <button class="btn">Seguir</button>
                    </div>
                </main>

                <aside>
                    <header>
                        <h2 class="title">Comentários</h2>
                    </header>
                    <article class="comment">
                        <div class="post-profile">
                            <img src="/img/logo-ifspace.png" alt="logo">
                        <p>Fulaninho</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                            illum? Animi illo nobis est iusto mollitia,
                            consequuntur eius, quas, unde quisquam expedita sapiente dignissimos architecto.</p>
                    </article>
                
                    <article class="comment">
                        <div class="post-profile">
                            <img src="/img/logo-ifspace.png" alt="logo">
                        <p>Ciclaninho</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
                            consequuntur eius, quas, unde quisquam expedita sapiente dignissimos architecto.</p>
                    </article>              
                
                    <article class="comment">
                        <div class="post-profile">
                            <img src="/img/logo-ifspace.png" alt="logo">
                        <p>Juninho</p>
                        </div>
                        <p>Lorem ipsum consequuntur eius, quas, unde quisquam expedita sapiente dignissimos architecto.</p>
                    </article>
                </aside>

            </div>
        </div>
    </body>
</html>