<aside class="aside">
    <h1 class="title">Amigos</h1>
    <ul class="friends">
        <li>
            <div class="friend">
                <img src="/img/logo-ifspace.png">
                <p>Fulano</p>
                <div class="panel-container">
                    <button><i class="fa-solid fa-plus"></i></button>
                    <div class="panel">
                        <p>Perfil</p>
                    </div> 
                </div>
            </div>
        </li>
        <li>
            <div class="friend">
                <img src="/padrao.png">
                <p>Ciclano</p>
                <div class="panel-container">
                    <span><i class="fa-solid fa-plus"></i></span>
                    <div class="panel">
                        <p>Perfil</p>
                    </div> 
                </div>
            </div>
        </li>
        <li>
            <div class="friend">
                <img src="/img/logo-ifspace.png">
                <p>Beltrano</p>
                <div class="panel-container">
                    <button><i class="fa-solid fa-plus"></i></button>
                    <div class="panel">
                        <p>Perfil</p>
                    </div> 
                </div>
            </div>
        </li>
    </ul>
</aside>