<aside class="aside">
    <h1 class="title text-center">Minha lista</h1>

    <%if (seguidos) { %>
        <ul class="friends">
            <% seguidos.forEach(user => { %>
                <li>
                    <div class="friend">

                        <img src="/<%= user.foto %>" alt="Foto de perfil">
                        <p><%= user.nick %></p>

                        <div class="panel-container">
                            <span><i class="fa-solid fa-circle-up fa-rotate-180 fa-xl"></i></span>
                            <div class="panel">
                                <a href="/perfil/<%= user.id%>">Perfil</a>
                            </div>
                        </div>

                    </div>
                </li>
            <% }); %>
        </ul>

    <% } else { %>
        <p>Usuários que você seguir aparecerão aqui</p>
    <% } %>
</aside>