<header class="profile" id="topo" style="background-image: url('/<%= encodeURIComponent(banner) %>');">
    <img class="pfp" src="/<%= foto %>" alt="Foto de Perfil">
    <p class="user-name">
        <%= name %>
    </p>
</header>