<nav class="nav">
    <ul class="nav-items">
        <li class="nav-item"><a href="#topo" class="btn" aria-label="Botão para voltar ao topo da página"><i class="fa-regular fa-circle-up fa-lg"></i> Voltar ao
                topo</a></li>
        <li class="nav-item"><a href="/perfil" class="btn" title="Veja e edite seu perfil" aria-label="Link para ver e editar o seu perfil"><i class="fa-regular fa-address-card fa-lg"></i>
                Perfil</a></li>
        <li class="nav-item"><a href="/home" class="btn" title="Voltar à página inicial" aria-label="Link para volta à sua página inicial"><i class="fa-solid fa-house-user fa-lg"></i> Página
                Inicial</a></li>
        <li class="nav-item"><a href="/post" class="btn" title="Faça uma postagem" aria-label="Link para a página de fazer uma postagem"><i class="fa-regular fa-paper-plane fa-lg"></i> Postar</a>
        </li>
        <li class="nav-item"><a href="/home/logout" class="btn" title="Voltar para à tela de login" aria-label="Botão de Deslogar e voltar à tela de login"><i class="fa-solid fa-rocket fa-lg"></i> LogOut</a>
        </li>
    </ul>
</nav>