<main class="container-contato">
    <header>
        <h1 class="title">Equipe do IF-Space</h1>
    </header>

    <div class="cards">

        <section class="card">
            <figure>
                <img src="img/logo-ifspace.png" alt="">
                <figcaption class="title">Eric Ribeiro</figcaption>
            </figure>
            <address>E-mail: <a class="link" href="mailto:eric.r@aluno.ifsp.edu.br">eric.r@aluno.ifsp.edu.br</a>
            </address>
        </section>

        <section class="card">
            <figure>
                <img src="img/logo-ifspace.png" alt="">
                <figcaption class="title">Tatiana Carvalho</figcaption>
            </figure>
            <address>E-mail: <a class="link" href="mailto:carvalho.t@aluno.ifsp.edu.br">carvalho.t@aluno.ifsp.edu.br</a>
            </address>
        </section>

        <section class="card">
            <figure>
                <img src="img/logo-ifspace.png" alt="">
                <figcaption class="title">Sandro Gomes</figcaption>
            </figure>
            <address>E-mail: <a class="link"
                    href="mailto:sandro.gomes@aluno.ifsp.edu.br">sandro.gomes@aluno.ifsp.edu.br</a></address>
        </section>

    </div>
</main>
<footer class="footer">
    <p>
        &copy; IF-Space 2023. Todos os direitos reservados. <br>
        <a href="/" class="link">Voltar ao login</a>
    </p>
</footer>