<!DOCTYPE html>
<html>
  <head>
    <title>IF-Space | Equipe</title>
    <link rel='stylesheet' href='/styles/style.equipe.css' />
  </head>

  <body>
    <main>
      
      <section class="crew">
        <header class="border-bt">
          <h1>Equipe de desenvolvimento</h1>
        </header>

        <h2>Tatiana Carvalho</h2>
        <h2>Sandro Gomes</h2>
        <h2>Eric Ribeiro</h2>
      </section>
    
    </main>
    
    
  </body>
</html>