<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF-Space | Cadastro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Rajdhani:wght@500&family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/style.base.css">
    <link rel="stylesheet" href="/styles/style.signup.css">
  </head>
  
  <body>
    <div class="container">
      <aside class="aside">
        <div>
          <img src="/img/logo-ifspace.png" alt="logo">
          <h1 class="logo-title">IF-Space</h1>
        </div>
      </aside>

      <form action="/signup" method="post" class="signup">

        <fieldset class="fields">

          <div class="field">
            <label for="nome">Nome*</label>
            <input type="text" name="pNome" id="nome" max="25" required>
          </div>

          <div class="field">
            <label for="sobreNome">Sobrenome*</label>
            <input type="text" name="sNome" id="sobreNome" max="25" required>
          </div>

          <div class="field">
            <label for="data">Data de Nascimento*</label>
            <input type="date" name="dataNasc" id="data" required>
          </div>

          <div class="field">
            <label for="email">E-mail*</label>
            <input type="email" id="email" name="email" required>
          </div>
  
          <div class="field">
            <label for="senha">Senha*</label>
            <input type="password" id="senha" name="senha" minlength="8" required >
          </div>

          <div class="field">
              <label for="checkSenha">Confirmar Senha*</label>
              <input type="password" id="checkSenha" name="confirmSenha" minlength="8" required>
          </div>

          <div class="field">
            <label for="nick">Apelido</label>
            <input type="text" name="nick" id="nick" placeholder="ZezinhodoPneu02">
          </div>
          
          <div class="center">
            <input class='btn' type="submit" value="Enviar">
            <a href="/"><button class="btn" type="button">Já tem uma conta?</button></a>
          </div>
        </fieldset>

        
      </form>

    </div>
  </body>
</html>
