:root {
    --cor-destaque: #92f510;
    --cor-clara: #88ACDB;
    --cor-clara-a: #88acdba1;
    --cor-escura: #1C2D42;
    --cor-fundo: #8F774A;
    --cor-fundo-a: #8f774ac9;;
    --cor-branco: #fff;
}

body {
    margin: 0;
    background-color: var(--cor-escura);
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-image: url(../images/espaco-bkg.jpg);
    background-repeat: no-repeat;
    

    display: flex;
    flex-direction: column;
    align-items: center;
        
    margin-inline: auto;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title {
    font-size: clamp(.5rem, 6vw, 10rem);
    color: var(--cor-white);
    line-height: 0;
    margin: .2em 0;
    border-bottom: solid 1px var(--cor-escura)
}

.title-glow {
    font-size: clamp(1rem, 12vw, 10rem);
    color: var(--cor-destaque);
    text-shadow:
    line-height: 0;
    margin: .4em;
}

/* .left-bar {
    background-color: var(--cor-escura);
    width: 100%;
} */

.logo-img {
    max-width: 40%;
    box-shadow: 0.3em .2em .8em #9acd32;
    padding: .2em;
    margin: 1em;
    border-radius: 50%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-color: var(--cor-clara-a);
    padding: 0.4em;
}
.hero section {
    font-size: clamp(1rem, 5vw, 5rem);
}
 

.login{
    background-color: var(--cor-fundo-a);
    display: grid;
    grid-template-columns: 1fr;

    border-radius: 15px 0 15px 0 ;
    padding: 1.5rem;
}

.field {
    margin: .5em;
}