:root {
    --cor-clara: #88ACDB;
    --cor-escura: #1C2D42;
    --cor-destaque: #8F774A;
}

body {
    margin: 0;
    background-color: var(--cor-clara);
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    
}

.layout {
    display: flex;
}

.left-bar {
    background-color: var(--cor-escura);
    width: 100%;
    padding: 2em;
}

.left-bar img {
    box-shadow: 0 0 10px #9acd32;
    padding: .2em;
    margin: 1em;
    border-radius: 0 6% 0 6%;
}

.hero {
    background-color: var(--cor-clara);
}

.login{
    background-color: var(--cor-destaque);
    display: grid;
    grid-template-columns: 1fr;

    border-radius: 15px 0 15px 0 ;
    padding: 1.5rem;
}

.field {
    
    margin: .5em;
}