.container-sign {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
    max-width: 1220px;
    margin-inline: auto;
    padding: 0em .4em;
}

.aside-logo {
    padding-top: .4em;
}

.aside-logo div {
    display: flex;  
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.aside-logo img {
    flex-grow: 1;
    width: 35vw;
    max-width: 6em;
    border-radius: 50%;
    border: solid .2em var(--cor-texto-p);
    box-shadow: .3em .3em .8em var(--cor-destaque);
}

.signup {
    width: 80%;
}

.signup .fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding: 2em;
    border: solid .2rem var(--cor-clara-1);
    border-radius: 10px;
    box-shadow: 0 0 0.4em #000;
    background-image: linear-gradient(135deg,var(--cor-fundo) 40%,var(--cor-contraste));
}

.signup .fields input {
    width: 100%;
}

@media screen and (min-width:420px) {
    .signup .fields {
        grid-template-columns: 1fr 1fr;
    }
}
