/* Aquarela do projeto :v */
:root {

    /*Cor clara*/
    /*Tons de sombra*/
    --cor-clara-shade-1:#646bc4;
    --cor-clara-shade-2:#788fcc;
    /*Tons normais*/
    --cor-clara-1:#88acdb;
    --cor-clara-2:#98c7e3;
    --cor-clara-3:#ace9f2;

    --cor-contraste: #1C2D42;
    --cor-forte:#423315;

    --cor-fundo: #8F774A;
    --cor-fundo-a: #8f774ac9;

    --cor-destaque: #92f510;

    --cor-texto-b: #e1e1e1;
    --cor-texto-p: #0f1a27;

    --font-tam-opcoes: clamp(.8rem, 5vw, 1rem);
    --font-tam-texto: clamp(.5rem, 5vw, 1.2rem);
    --font-tam-titulo: clamp(1.5rem, 8vw, 2rem);
}
/*=======================================*/

/* Definindo valores padrão e resetando outros */

*{  
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--cor-texto-p);
    font-size:var(--font-tam-texto);
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 100%;
}

a {  
    display: block;
    text-decoration: none;
    color: var(--cor-texto-b);
}

input {
    color: var(--cor-texto-b);
    border: none;
    background-color: transparent;
}

input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    border: solid .2em var(--cor-escura-1);
    background: var(--cor-clara-3);
    border-radius: 10px;
    resize: none;
    padding: .5rem;
}

fieldset {
    border: none;
    padding: 1rem;
}

legend {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    padding: .2em;
    
    border-radius: 10px;
    background: var(--cor-clara-2);
}

.title {
    font-size: var(--font-tam-titulo);
    padding: 0 1em;
}

.center {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.info {
    font-size: var(--font-tam-opcoes);
    text-align: center;
    font-weight: bold;
}
/*=======================================*/

/* Estilizando links */

.link {
    text-decoration: underline 2px;
}

.link:hover,
.link:focus {
    text-decoration: underline solid .1em var(--cor-texto-b);
    text-shadow: 0 0 1em var(--cor-clara-shade-1);
}

.link:active {
    text-decoration: none;
    text-shadow: none;
    color: var(--cor-texto-p);
}
/*=======================================*/

/* Botões */

.btn {
    font-family: 'Rajdhani', sans-serif;
    color: var(--cor-texto-p);
    font-size: var(--font-tam-opcoes);

    padding: .3em .3em;
    margin: .1em;
    border: .1rem solid var(--cor-contraste);
    border-bottom: .2rem solid var(--cor-contraste);
    border-radius: 10px;
    background-color: var(--cor-clara-1);
}

.btn:hover,
.btn:focus {
    outline: solid .125em var(--cor-clara-3);
}

.btn:active {
    color: var(--cor-texto-b);
    background-color: var(--cor-texto-p);
    border-color: var(--cor-texto-p);
}
/*=======================================*/

/* Relacionado a formulários / Campos / Input / opções */
.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    font-family: 'Rajdhani', sans-serif;
}

.field {
    padding: 0.4em 0;
}

.field input {
    display: block;
    border-radius: 5px;
    background-color: #1c2d4275;
    padding: 0.5em 0.5em;
    border-bottom: solid 3px var(--cor-texto-p);
}

.options {
    padding: .1em;
    font-size: .8rem;
    color: var(--cor-texto-b);
}
/*=======================================*/

/* Estilizando a barra de rolagem */

/* Largura geral */
::-webkit-scrollbar {
    width: .6em;
}

/* O caminho da barrinha */
::-webkit-scrollbar-track {
    background: var(--cor-forte);
}

/* Barrinha que você clica */
::-webkit-scrollbar-thumb {
    border: solid .1em var(--cor-contraste);
    border-radius: 10px;
    background: var(--cor-clara-2);
}

/* Barrinha quando põe o mouse em cima */
::-webkit-scrollbar-thumb:hover {
    background: var(--cor-clara-3);
}

/*============================*/

/* Footer */
.footer {
    width: 100%;
    background-color: var(--cor-fundo);
    color: var(--cor-texto-b);
    text-align: right;
    padding: .6em;
    
    position: absolute;
    bottom: 0;
}

.footer p {
    text-shadow: 0 0 4px black;
    margin-right: 1em
}

.footer a {
    display: inline;
}

@media screen and (max-width: 630px) {
    .footer {
        margin-top: 2em;
        position: relative;
    }
}