:root {
    /* --cor-exemplo   = cor plana normal 
       --cor-exemplo-a = cor com nível de alpha/transparente 
    */
    --cor-clara: #88ACDB;
    --cor-clara-a: #88acdba1;

    --cor-escura: #1C2D42;
    --cor-escura-a: #1c2d42ba;

    --cor-fundo: #8F774A;
    --cor-fundo-a: #8f774ac9;

    --cor-destaque: #92f510;

    --cor-texto-b: #e1e1e1;
    --cor-texto-p: #0f1a27;

    --font-tam-texto: clamp(.8rem, 10vw, 1.2rem);
    --font-tam-titulo: clamp(1.6rem, 10vw + 1rem, 3rem);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--cor-texto-p);
    font-size:var(--font-tam-padrao);
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

a{  
    text-decoration: none;
    color: var(--cor-texto-b);
}

a:hover,
a:focus {
    color: var(--cor-texto-p);
}

.btn {
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    padding: .2em .7em;
    margin: .1em;
    background-color: var(--cor-clara);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    color: var(--cor-texto-b);
    background-color: var(--cor-escura);
}