body {
    background-color: var(--cor-escura);
    background-image: url(/img/espaco-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 300px;
}

.container {
    max-width: 1220px;
    margin-inline: auto;
    padding: 0em .4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.layout {
   display: flex;
   flex-wrap: wrap;
}

.layout > * {
    box-shadow: 0 0 .4em #000;
}

.aside {
    padding-top: .4em;
}

.aside div {
    display: flex;  
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width:800px) {
    .aside {        
        background-image: linear-gradient(180deg, var(--cor-escura), #646496cc);
        min-height: 100vh;
        flex-basis: 20%;
    }
    aside div {
        padding: .2em;
        flex-direction: column;
    }
    .layout {
        gap: 1em;
        flex: 50%;
    }
}

.aside img {
    flex-grow: 1;
    width: 35vw;
    max-width: 6em;
    border-radius: 50%;
    border: solid .2em var(--cor-texto-p);
    box-shadow: .3em .3em .8em var(--cor-destaque);
}

.logo-title {
    flex-grow: 1;
    font-family: 'Rajdhani', sans-serif;
    line-height: 1;
    color: var(--cor-destaque);
    font-size: clamp(1.8rem, 10vw + 1.2rem, 2.6rem);
}

.title {
    line-height: 1;
    font-family: 'Rajdhani', sans-serif;
    font-size: var(--font-tam-titulo);

}

.hero {
    background-image: linear-gradient(45deg, var(--cor-clara), var(--cor-escura-a));
    border-radius: 10px 10px 0 0;
    padding: 1em;
    flex-grow: 1;
    flex-basis: 60%;
}

.hero section {
    padding: 1em 1em 1.4em 1em; 
}

.hero header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    border-radius: 10px 10px 0 0;
    padding: 0.8em;
    flex: 1;
    background-image: linear-gradient(180deg, var(--cor-fundo), var(--cor-escura));
}

@media screen and (max-width:512px) {
    .login {
        clip-path: polygon(0 10%, 25% 0, 50% 10%, 75% 0, 100% 10%, 100% 100%, 0 100%);
        margin-top: -1.5rem;
    }
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.field {
    
    padding: 0.2em 0;
}

.field input {
    background-color: transparent;
    border: none;
    padding: 0.2em;
    border-bottom: solid 2px var(--cor-texto-p);
}

.options {
    padding: .1em;
    font-size: .8rem;
    color: var(--cor-texto-b);
}