body {
  background-color:#4A688F;
  color: rgb(66, 203, 207);
}

.border-bt {
  padding: 0px 10px;
  border-bottom:solid 1px #8F774A ;
}

.crew {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  padding: 10px;
  background-color: #373d75af;
}
