body {
    background-color: var(--cor-escura);
    background-image: url(/img/bkg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 300px;
}

/*========================*/
/* CSS da página de login */
/*========================*/

.container-login {
    max-width: 1220px;
    margin-inline: auto;
    padding: 0em .4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.layout {
    display: flex;
    flex-wrap: wrap;
}

.layout>* {
    box-shadow: 0 0 .4em #000;
}

.aside {
    padding-top: .4em;
    z-index: 1;
}

.aside div {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width:800px) {
    .aside {
        background-image: linear-gradient(180deg, var(--cor-contraste), #646496cc);
        min-height: 100vh;
        flex-basis: 20%;
        backdrop-filter: blur(3px);
    }

    aside div {
        flex-direction: column;
        padding: .2em;
    }

    .layout {
        gap: 1em;
        flex: 50%;
    }
}

.aside img {
    flex-grow: 1;
    width: 35vw;
    max-width: 6em;
    border-radius: 50%;
    border: solid .2em var(--cor-texto-p);
    box-shadow: .3em .3em .8em var(--cor-destaque);
}

.title {
    line-height: 1;
    font-family: 'Rajdhani', sans-serif;
    font-size: var(--font-tam-titulo);

}

.hero {
    background: repeating-linear-gradient(45deg, var(--cor-clara-1) 28%, var(--cor-clara-shade-2) 83%);
    backdrop-filter: blur(3px);
    border-radius: 10px 10px 0 0;
    padding: 1em;
    flex-grow: 1;
    flex-basis: 60%;
}

.hero section {
    text-align: center;
    padding: 1em 1em 1.4em 1em;
}

.hero header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1em;
    border-bottom: solid .2rem var(--cor-escura-2);
    border-radius: 5px;
}

.login {
    border-radius: 10px 10px 0 0;
    padding: 0.8em;
    flex: 1;
    background: linear-gradient(135deg, var(--cor-clara-1), var(--cor-fundo) 75%);
}

@media screen and (max-width:547px) {
    .login {
        border-radius: 0;
        -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
        margin-top: -35px;
    }

    .login p {
        padding: 1em;
    }
}

/*===========================*/
/* CSS da página de cadastro */
/*===========================*/

.container-sign {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    max-width: 1220px;
    margin-inline: auto;
    padding: 0em .4em;
}

.aside-logo {
    padding-top: .4em;
}

.aside-logo div {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.aside-logo img {
    flex-grow: 1;
    width: 35vw;
    max-width: 6em;
    border-radius: 50%;
    border: solid .2em var(--cor-texto-p);
    box-shadow: .3em .3em .8em var(--cor-destaque);
}

.signup {
    width: 80%
}

.signup .fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding: 2em;
    border: solid .2rem var(--cor-clara-1);
    border-radius: 10px;
    box-shadow: 0 0 0.4em #000;
    background-image: linear-gradient(135deg, var(--cor-fundo) 40%, var(--cor-contraste));
}

.signup .fields input {
    width: 100%;
}

@media screen and (min-width:580px) {
    .signup .fields {
        grid-template-columns: 1fr 1fr;
    }
}

/*==========================*/
/* CSS da página de contato */
/*==========================*/

.container-contato {
    text-align: center;
}

.container-contato header {
    display: inline-block;
    padding: .2em .4em;
    color: var(--cor-destaque);
    background: linear-gradient(to bottom, var(--cor-clara-1), var(--cor-contraste));
    border: solid .3em var(--cor-clara-1);
    border-bottom: solid .4em var(--cor-contraste);
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
    margin: 1em;
    background: linear-gradient(180deg, var(--cor-fundo) 15em, var(--cor-contraste) 16em);
    min-width: 310px;

    border: 0.2em solid var(--cor-clara-1);
    border-bottom: solid .4em var(--cor-contraste);
    border-radius: 10px;
}

.card img {
    border: solid .2em var(--cor-contraste);
    border-radius: 40%;
    width: 10em;
}

.card a {
    display: inline;
}

.card span {
    display: block;
}

.feedback {
    width: 60%;
    margin-inline: auto;
    margin-block: 2em;
    padding: .6em 2em;
    border: solid .2em var(--cor-clara-2);
    border-radius: 5px;
    background-color: var(--cor-fundo);
}

.feedback input {
    margin-bottom: .6em;
    padding: .6em;
    border-bottom: solid .2em var(--cor-clara-1);
    border-radius: 10px;
    background-color: var(--cor-clara-shade-2);
    width: 80%;

}

.feedback label {
    display: block;
}

.feedback textarea {
    border: solid .2em var(--cor-contraste);
}

.feedback .btn {
    width: 30%;
}