:root {
    /* --cor-exemplo   = cor plana normal 
       --cor-exemplo-a = cor com nível de alpha/transparente */
    --cor-clara: #88ACDB;
    --cor-clara-a: #88acdba1;

    --cor-escura: #1C2D42;
    --cor-escura-a: #1c2d42ba;

    --cor-fundo: #8F774A;
    --cor-fundo-a: #8f774ac9;

    --cor-destaque: #92f510;

    --cor-texto-b: #e1e1e1;
    --cor-texto-p: #0f1a27;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-escura);
    background-image: url(/img/espaco-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    color: var(--cor-texto-p);
    font-size:clamp(.8rem, 10vw, 1.2rem);
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.center {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

a{  
    text-decoration: none;
    color: var(--cor-texto-b);
}

a:hover,
a:focus {
    color: var(--cor-texto-p);
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
    max-width: 1220px;
    margin-inline: auto;
    padding: 0em .4em;
}

.aside {
    padding-top: .4em;
}

.aside div {
    display: flex;  
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.aside img {
    flex-grow: 1;
    width: 35vw;
    max-width: 6em;
    border-radius: 50%;
    border: solid .2em var(--cor-texto-p);
    box-shadow: .3em .3em .8em var(--cor-destaque);
}

.logo-title {
    flex-grow: 1;
    font-family: 'Rajdhani', sans-serif;
    line-height: 1;
    color: var(--cor-destaque);
    font-size: clamp(1.8rem, 10vw + 1.2rem, 3rem);
}

.signup {
    border-radius: 10px 10px 0 0;
    padding: 2em;

    box-shadow: 0 0 0.4em #000;
    background-image: linear-gradient(180deg, var(--cor-fundo), var(--cor-escura));
}

.fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width:420px) {
    .fields {
        grid-template-columns: 1fr 1fr;
    }
}

.field {
    padding: 0.2em 0;
}

.field label {
    display: block;
}

.field input {
    background-color: transparent;
    border: none;
    padding: 0.2em;
    border-bottom: solid 2px var(--cor-texto-p);
}

.options {
    padding: .1em;
    font-size: .8rem;
    color: var(--cor-texto-b);
}

.btn {
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
    padding: .2em .7em;
    
    background-color: var(--cor-clara);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    color: var(--cor-texto-b);
    background-color: var(--cor-escura);
}