body {
    background-color: var(--cor-escura-1);
}

.layout {
    display: flex;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: solid 1em var(--cor-escura-3);

    background-image: url('/img/espaco-bkg.jpg');
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.pfp {
    margin: .4rem;
    width: 7rem;
    border: solid .3rem var(--cor-texto-p) ;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    font-family: Courgette, sans-serif;
    display: inline-block;
    background-image: linear-gradient(90deg, var(--cor-clara-3), transparent);
    width: 80%;
    padding: .2rem;
    margin-bottom: .3rem;
}

.nav {
    flex-basis: 20%;
    background: var(--cor-escura-3);
    padding: .4rem ;
}

.nav-items {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    position: sticky;
    top: 1em;
}

@media  screen and (min-width: 770px) {
    .nav-item:last-child {
        position: fixed;
        bottom: 1em;
    }
}

.aside {
    border-bottom: solid 1rem var(--cor-escura-2);
    background: var(--cor-escura-2);
}

.nav,
.aside {
    flex-basis: 20%;
}

@media screen and (max-width: 769px) {

    .layout {
        flex-direction: column;
    }

    .nav {
        position: sticky;
        top: 0;
    }

    .nav-items,
    .friends {
        display: grid;
        grid-auto-columns: minmax(9.1rem, 1fr);
        grid-auto-flow: column;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: .2rem;
        text-align: center;
    }

    .posts {
        order: 1;
    }
    /* Deixa a barra de rolagem invisivel */
    .friends::-webkit-scrollbar, 
    .nav-items::-webkit-scrollbar { 
        display: none;
    }
}

.nav-item { 
    scroll-snap-align: start;
}

.friend {
    display: flex;
    align-items: center;
    gap: .2rem;

    border-right: solid .1em #000;
    padding: .2em;
    scroll-snap-align: start;
    background: linear-gradient(270deg, transparent, #fff8);

    font-family: 'Rajdhani', system-ui, sans-serif;
}

.friend img {
    border-radius: 50%;
    border: solid .2em var(--cor-escura-3);
    width: 30%;
}

.posts {
    flex: 1 60%;
    border-right:solid .2em #000;
    border-left:solid .2em #000;
    background: var(--cor-clara)
}

.post {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
    margin: 2rem;
    min-height: 20em;
    border: solid .125rem var(--cor-escura-3);
    border-radius: 10px;
    background: var(--cor-clara-2);
    
}

.post header {
    padding: .6rem;
}

.post p {
    padding: .4rem;
}

.postProfile {
    display: flex;
    align-items: center;
    gap: .2;

    font-family: 'Rajdhani', system-ui, sans-serif;
    
}

.postProfile img {
    border-radius: 50%;
    width: 4em;
    border: solid .3em var(--cor-escura-3);
}

/* Página do perfil */

.profile-editor {
    flex: 0 40%;
    background-color: var(--cor-fundo);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 0 .5em #000;
}

.field label {
    display: block;
}

.field, input {
    width: 100%;
}